<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Site</title>
    <link rel="stylesheet" href="/template/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="grid-container">
            <!-- header -->
    <header  class="row">
        <div>
            <a class="brand" href="index.html">AFRICAN-Wears</a>
        </div>
        <div>
            <a href="cart.html">Cart</a>
            <a href="signin.html">Sign In</a>
        </div>
    </header>

    <!-- main  -->
    <main>
        <div class="row center">
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p2.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p3.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p4.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p5.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p10.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                        <span> <i class="fas fa-star-half-alt"></i></span>
                        <span> <i class="fas fa-star-half-alt"></i></span>
                        <span> <i class="fas fa-star-half-alt"></i></span>
                   
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html"><img class="medium" src="/images/p7.jpg" alt="product"> </a>
                <div class="card-body">
                     <a href="product.html"> <h2>Traditional wear</h2> </a> 
                     <div class="rating">
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                         <span> <i class="fa fa-star"> </i></span>
                     </div>
                     <div class="price"> 35000FCFA </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="row center"> All rights reserved</footer>
    </div> 
</body>
</html>